---
title: Home
---

<div class="jumbotron">
  <h1>Static Boosted</h1>

  <h3>Tests</h3>

  <p>Middleman: <%= lorem.words(3) %></p>
  <p>Bootstrap: <span class="label label-default">label</span></p>
  <p>AngularJS: 2 + 2 = {{2+2}}</p>

  <h3>Links</h3>

  <ul>
    <li><%= link_to 'Middleman', 'http://middlemanapp.com/' %></li>
    <li><%= link_to 'Bootstrap', 'http://www.getbootstrap.com/' %></li>
    <li><%= link_to 'AngularJS', 'http://www.angularjs.org/' %></li>
  </ul>

  <hr/>

  <p>
    <%= link_to 'View on GitHub »', 'https://github.com/manumorante/', class: 'btn btn-lg btn-primary', role: 'button' %>
  </p>
</div>