---
title: Home
---

<div class="jumbotron">
  <h1>Middleman Bootstrap Initializr</h1>

  <p><%= lorem.paragraph %></p>

  <ul>
    <li><%= link_to 'Middleman', 'http://middlemanapp.com/' %></li>
    <li><%= link_to 'Bootstrap', 'http://www.getbootstrap.com/' %></li>
    <li><%= link_to 'Initializr', 'http://www.initializr.com/' %></li>
  </ul>

  <p><%= lorem.sentence %></p>

  <p>
    <%= link_to 'View on GitHub »', 'https://github.com/manumorante/', class: 'btn btn-lg btn-primary', role: 'button' %>
  </p>
</div>