---
title: Home
---
<div class="container">
  <div class="jumbotron">
    <h1>Static Boosted</h1>
    <h2>Middleman Bootstrap boilerplate</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Tests</h3>

      <ul>
        <li>Middleman: <%= lorem.words(3) %></li>
        <li>Bootstrap: <span class="label label-default">label</span></li>
        <li>AngularJS: 2 + 2 = {{2+2}}</li>
      </ul>
    </div>

    <div class="col-sm-6">
      <h3>Links</h3>

      <ul>
        <li><%= link_to 'Middleman', 'http://middlemanapp.com/' %></li>
        <li><%= link_to 'Bootstrap', 'http://www.getbootstrap.com/' %></li>
        <li><%= link_to 'AngularJS', 'http://www.angularjs.org/' %></li>
      </ul>
    </div>
  </div>





  <p>
    <%= link_to 'View on GitHub »', 'https://github.com/manumorante/', class: 'btn btn-primary', role: 'button' %>
  </p>

</div>